
:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: Aeonik;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bolt;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width:100%;
    background-color: var(--sec);
    color: aliceblue;
    font-family: Aeonik;
}
.AllElem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
        padding: 50px;
}
.elem:active{
    scale: 0.96;
}
.elem{
    width: 300px;
    height: 400px;
    background-color: #66ff01;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    transition-duration: 0.3s;
    box-shadow: 5 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.elem h2{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
}
.fullElem{
        width: 100%;
    height: 100%;
    background-color: var(--tri2);
    padding: 50px;
    display: none;
    position: absolute;
}
.back{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    position: absolute ;
    right: 5%;
    font-weight: 600;
}