
:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: Aeonik;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bolt;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width:100%;
    background-color: #111;
    color: aliceblue;
    font-family: Aeonik;
}