
:root{
    --pri:#F8F4E1;
    --sec:#3f1900;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: Aeonik;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bolt;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width:100%;
    background-color: var(--sec);
    color: aliceblue;
    font-family: Aeonik;
}
.AllElem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
        padding: 50px;
}
.elem:active{
    scale: 0.96;
}
.elem{
    width: 300px;
    height: 400px;
    background-color: #66ff01;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    transition-duration: 0.3s;
    box-shadow: 5 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.elem h2{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
}
.fullElem{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
    padding: 50px;
    display: none;
    position: absolute;
}
.fullElem h1{
    font-size: 50px;
    font-weight: 1000px;
}
.back{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    position: absolute ;
    right: 5%;
    font-weight: 600;
}
.todo-container{
    width: 100%;
    height: 80%;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.todo-container .addTask{
    width: 33%;
  height: 100%;
  background:var(--tri2);
  border-radius: 20px;
}

.todo-container .allTask{
    width: 66%;
    height: 100%;
    background:var(--tri2);
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
}
.todo-container .addTask form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.todo-container .addTask form input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    background: var(--sec);
    color: whitesmoke;
}
.todo-container .addTask form textarea{
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    background: var(--sec);
    color: whitesmoke;
}
.todo-container .addTask form button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    background: var(--tri1);
    color: whitesmoke;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active{
    scale:0.96;
}
.allTask .task{
    display:flex;
    width: 100%;
    justify-content: space-between ;
    align-items: center;
    background: var(--sec);
    padding:20px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-weight: 800;
    font-size: 30px;
}
.allTask .task button{
    padding: 15px 20px;
    background: green;
    border: none;
    border-radius: 5px;
    transition: all ease 0.3s;
    color: white;
    font-weight: 800;
    font-size: 15px;
}
.allTask .task button:active{
    scale: 0.96;
}

/* daily planner */
.daily-planner-fullpage .daily-planner{
    background-color: var(--tri2);
    width: 98%;
    height: 750px;
    margin-top: 50PX;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto; 
   justify-content: space-around;
}
.daily-planner-fullpage .daily-planner .planner{
    background-color:var(--sec);
    height: 5.5rem;
    width: 48%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    font-size:1em;  
    margin-bottom: 10px;
    color: var(--tri1);
}
.daily-planner .planner input{
    width:100%;
    font-size: 1.5em;  
    padding: 15px;
    border: none;
    outline: none;
    color: white;
    background-color: var(--sec);
}

.daily-planner-fullpage .daily-planner::-webkit-scrollbar {
  display: none;
}
